.bg{
    background: url(../../../public/images/paladins.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain
}
.hover{
    transition: all 6ms ease-in;}
.cardHover:hover{
    transform: scale(1.1);   
}